.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

h1 {
    background-color: greenyellow;
  }

aside {
    background-color: brown;
  }

footer {
    background-color: yellow;
  }

.asideRight {
    background-color:darkorange;
  }

  .content{
    background-color: aquamarine;
  }
  
nav {
  background-color: #74e274;
}